.container-portfolio {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* gap: 2.5rem; */
}

.portfolio-item {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin-bottom: 1rem;
}

.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio-item-image {
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 0.4rem;
}

.portfolio-item h5 {
  color: var(--color-light);
  margin: 0.2rem 0 1rem;
}

.portfolio-item h3 {
  margin: 1rem 0 0.2rem;
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
